# Ignore Python virtual environment
torch_env/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore assignment dataset files & archives
cifar-10-batches-py/
*.tar.gz
*.zip
.tmp.driveupload/
.DS_Store

# Ignore checkpoints
*.pt
*.pkl

