# Ignore Python virtual environment
torch_env/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore assignment dataset files & archives
cifar-10-batches-py/
VOCdevkit/
*.tar
*.tar.gz
*.zip
voc*.json
.tmp.driveupload/
.DS_Store

# Ignore checkpoints
*.pt
*.pkl

# A6 MNIST download (large, regenerable)
Assignment6/A6/MNIST_data/

