# Ignore Python virtual environment
torch_env/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore assignment dataset files
Assignment1/A1/cifar-10-batches-py/
Assignment1/A1/cifar-10-python.tar.gz
